<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    const socket = new SockJS('http://localhost:8080/signal');
    const stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        console.log('SockJS 연결이 열렸습니다.');
        stompClient.subscribe('/topic/messages', function (message) {
            console.log('SockJS 메시지를 수신했습니다: ' + message.body);
        });
    });
</script>
</body>
</html>